<div *ngIf="isLoggedIn; else loginTemplate">
    <p-splitter [panelSizes]="[5, 95]" [minSizes]="[5, 80]" styleClass="mb-8 full-height">
        <ng-template pTemplate>
            <app-groups class="full-height"></app-groups>
        </ng-template>
        <ng-template pTemplate>
            <div class="right-panel full-height">
                <router-outlet></router-outlet>
            </div>
        </ng-template>
    </p-splitter>
</div>

<ng-template #loginTemplate>
     <router-outlet></router-outlet>
</ng-template>