*{
    margin: 0;
    padding: 0;
}
.main-container{
    display: flex;
    flex-direction: row;
}

.menu-container{
    width: 20%;
    padding: 20px;
}

.settings-container{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.full-height{
    height: 100vh;
}
.settings-element{
    background-color: var(--panel-slate);
    border-radius: 10px;
    padding: 10px;
    color: var(--text-light);
}
.upload-avatar{
    height: 200px;
}
.profile-details img{
    width: 100px;
}