<div class="main-container full-height">
    <div class="menu-container full-height">
        <p-menu [model]="items" styleClass="w-full md:w-60" />
    </div>
    <div class="settings-container full-height">
        <div class="close-container">
            <h3>Personal information</h3>
        </div>
        <div class="profile-details settings-element">
            <div class="profile">
                <p-avatar image="{{profilePicUrl}}" class="mr-2" size="xlarge" shape="circle" />
                <div class="info">
                    <h5>{{accountInformation?.[0]?.name}}</h5>
                    <p>{{accountInformation?.user?.email}}</p>
                </div>
            </div>
            <div class="flex flex-col gap-2">
                <table>
                    <thead>
                        <th>Personal details</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Email</td>
                            <td>{{accountInformation?.user?.email}}</td>
                        </tr>
                        <tr>
                            <td>Username</td>
                            <td>{{accountInformation?.[0]?.name}}</td>
                        </tr>
                        <tr *ngIf="accountInformation && accountInformation[0] as acc">
                            <td>Status message</td>
                            <td class="inputField">
                                <input type="text" pInputText [(ngModel)]="accountInformation[0].status_message" [disabled]="!editingStatus" [pSize]="'small'"/>
                                <button mat-icon-button *ngIf="!editingStatus" (click)="editStatus()"><mat-icon>edit</mat-icon></button>
                                <button mat-icon-button *ngIf="editingStatus" (click)="editStatus()"><mat-icon>check_circle</mat-icon></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Account created</td>
                            <td>{{accountInformation?.user?.created_at}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="upload-avatar settings-element">
            <h5>Change profile picture</h5>
            <p-fileupload #fu mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="demo[]"
                url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="3000000"
                (onUpload)="onUpload($event)" />
            <p-button label="Upload" (onClick)="fu.upload()" severity="secondary" />
        </div>
    </div>
</div>