<div class="users-area">
    <p>A csoport tagjai</p>
    <mat-card class="user" *ngFor="let user of GroupParticipants" (click)="selectUser($event, user)">
         <p-avatar image="{{user.avatar_url}}" class="mr-2" size="large" shape="circle" />
        <p>{{user.name}}</p>
    </mat-card>
    <p-popover #op (onHide)="selectedUser = null">
        <ng-template pTemplate="content">
            <div *ngIf="selectedUser" class="selectionMenu">
                <p-avatar image="{{selectedUser.avatar_url}}" class="mr-2" size="large" shape="circle" />
                <div class="details">
                    <p>{{selectedUser.name}}</p>
                    <p>{{selectedUser.status_message}}</p>
                </div>
                <button mat-raised-button *ngIf="selectedUser.id !== userId && !friendIds.includes(selectedUser.id)" (click)="addFriend(selectedUser)">Add friend</button>
            </div>
        </ng-template>
    </p-popover>
</div>