.container{
    background-color: #1E1E1E;
    height: 100%;
    color: white;
    padding: 0;
}
.create-group-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    padding: 10px;
}
.titlebar{
    background-color: #131211;
    padding: 1rem;
}
.group-name{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.p-button{
    padding: 0;
}
.color-list{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
.group-example{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;
}
.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}