<mat-stepper #stepper>
    <mat-step label="Step 1" state="phone">
        <ng-template matStepLabel>Fill out your group ID</ng-template>
        <mat-form-field>
            <mat-label>Group ID</mat-label>
            <input matInput [(ngModel)]="groupId" name="groupName" required>
        </mat-form-field>
        <div>
            <button matButton matStepperNext (click)="searchGroup()">Next</button>
        </div>
    </mat-step>
    <mat-step label="Step 2" state="phone">
        <ng-template matStepLabel>Confirm Group ID</ng-template>
        <mat-label *ngIf="groupData.length > 0">Is this the correct group?</mat-label>
        <mat-label *ngIf="groupData.length === 0">Group not found.</mat-label>
        <div *ngIf="groupData.length > 0" class="groupData">
            <div class="avatar" [style.background-color]="groupData[0]?.color">{{groupData[0]?.name.charAt(0).toUpperCase()}}</div>
            <mat-label>{{groupData[0]?.name}}</mat-label>
        </div>
        <div>
            <button mat-raised-button matStepperNext *ngIf="groupData.length > 0" (click)="joinGroup()">Join Group</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button matButton mat-dialog-close>Close</button>
        </div>
    </mat-step>
</mat-stepper>